---
layout: frontpage
---

{% include feat_1landscape.html landscape1="7su-LC200" %}

{% include feat_2portrait.html
  portrait1="7su-Rollup"
  portrait2="Kaspi-Rock"
%}

{% include feat_2landscape_1portrait.html
  landscape1="VTB Credit Cards"
  landscape2="Lexus 4cars"
  portrait1="BCC Press A4"
%}

{% include feat_1square_2square.html
  square1="Mega-Tender-BB"
  square2="7su-Installment"
  square3="FoodMaster-Tender-BioFit"
%}

{% include feat_1portrait_2landscape.html
  portrait1="RB-BCONE"
  landscape1="HB Internet Banking"
  landscape2="first-project"
%}

{% include feat_2square_1square.html
  square1="Bazis-Tender-BB"
  square2="7su-All-Inclusive"
  square3="7su-15-Years"
%}





{% comment %}

{% include feat_1landscape.html landscape1="first-project" %}

{% include feat_2portrait.html
  portrait1="second-project"
  portrait2="second-project"
%}

{% include feat_2landscape.html
  landscape1="first-project"
  landscape2="first-project"
%}

{% include feat_2landscape_1portrait.html
  landscape1="first-project"
  landscape2="first-project"
  portrait1="second-project"
%}

{% include feat_1portrait_2landscape.html
  portrait1="second-project"
  landscape1="first-project"
  landscape2="first-project"
%}

{% include feat_2square_1square.html
  square1="first-project"
  square2="first-project"
  square3="second-project"
%}

{% include feat_1square_2square.html
  square1="first-project"
  square2="first-project"
  square3="second-project"
%}

{% include feat_3square.html
  square1="first-project"
  square2="first-project"
  square3="second-project"
%}

{% include feat_3landscape.html
  landscape1="first-project"
  landscape2="first-project"
  landscape3="second-project"
%}

{% include feat_3portrait.html
  portrait1="first-project"
  portrait2="first-project"
  portrait3="second-project"
%}


{% endcomment %}
