<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        {% for a_page in site.pages %}
          {% if a_page.title %}
            <li class="{% if page.url == a_page.url %}active {% endif %}rk-menu__item"><a href="{{ a_page.url | prepend: site.baseurl }}" class="rk-menu__link">{{ a_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">2016 {{ site.title }} </span>All Rights Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href="https://www.facebook.com/TheMrRedPanda" class="rk-social-btn ">
        <svg>
          <use xlink:href="{{ "/img/symbols.svg#icon-facebook" | prepend: site.baseurl }}"></use>
        </svg>
      </a>
      <a href="https://www.instagram.com/redpanda.pro/" class="rk-social-btn ">
        <svg>
          <use xlink:href="{{ "/img/symbols.svg#icon-pinterest" | prepend: site.baseurl }}"></use>
        </svg>
      </a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="rk-social-btn ">
        <svg>
          <use xlink:href="{{ "/img/symbols.svg#icon-feed" | prepend: site.baseurl }}"></use>
        </svg>
      </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailto:{{ site.email }}" class="rk-dark-color ">{{ site.email }}</a></span></p>
    </div>
  </div>
</footer>
