<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="{{ "/img/symbols.svg#bar" | prepend: site.baseurl }}"></use>
    </svg>
    <svg>
      <use xlink:href="{{ "/img/symbols.svg#bar" | prepend: site.baseurl }}"></use>
    </svg>
    <svg>
      <use xlink:href="{{ "/img/symbols.svg#bar" | prepend: site.baseurl }}"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        {% for a_page in site.pages %}
          {% if a_page.title %}
            <li class="{% if page.url == a_page.url %}active {% endif %}rk-menu__item"><a href="{{ a_page.url | prepend: site.baseurl }}" class="rk-menu__link">{{ a_page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
