---
name: RB-BCONE
title: Материалы для Red Bull BC One Kazakhstan Jam
inverse_title: false
tags: "Постер, Флаер, Пригласительный билет, Логотип, Бейдж"
picture: RB_BC_ONE_2011_Main.jpg
landscape: false
client: Red Bull
clientwebsite: redbull.com/kz/kk
---

{% capture text %}
  Адаптация логотипа Red Bull BC One к Kazakhstan Jam.
{% endcapture %}
{% include block-text.html title="Логотип" text=text %}

{% include block-image.html image="RB_BC_ONE_2011_Logo.jpg" title="Full width image" %}

{% capture text %}
  Кей-вижуал который стал основой для всех промо материалов.
{% endcapture %}
{% include block-text.html title="Постер" text=text %}

{% include block-image.html image="RB_BC_ONE_2011_Poster.jpg" title="Full width image" %}

{% capture text %}
  Промо флаер анонсирующий событие с подробной программой мероприятия.
{% endcapture %}
{% include block-leftboxtext.html image="RB_BC_ONE_2011_Flyer.jpg" title="Флаер" text=text margin="top" %}

{% capture text %}
  Пригласительный билет дающий право на вход и место на трибуне.
{% endcapture %}
{% include block-rightboxtext.html image="RB_BC_ONE_2011_Ticket.jpg" title="Пригласительный билет" text=text %}

{% capture text %}
  Для идентификации и разграничения доступа на площадку были разработаны бейджи для организаторов, гостей и журналистов.
{% endcapture %}
{% include block-text.html title="Бейджи" text=text %}

{% include block-image.html image="RB_BC_ONE_2011_Badje.jpg" title="Full width image" %}

{% capture text %}
  Глаыный приз победителя: Поездка в Москву на мировой финал RB BC One. Призы за 2 и 3 место. Подарочные сертификаты от спонсоров.
{% endcapture %}
{% include block-text.html title="Призы и сертификаты" text=text %}

{% include block-image.html image="RB_BC_ONE_2011_Winner.jpg" title="Full width image" %}

{% capture text %}
  Стилизованный логотип со сцены мероприятия стал обоями для рабочего стола сотрудников Red Bull Kazakhstan.
{% endcapture %}
{% include block-text.html title="Wallpaper" text=text %}

{% include block-image.html image="RB_BC_ONE_2011_Screen.jpg" title="Full width image" %}
