---
name: BCC-25Logo
title: Логотип к 25 летию банка Центр Кредит
inverse_title: true
tags: [Логотип]
picture: BCC_25Logo_Main.jpg
landscape: false
client: Банк Центр Кредит
clientwebsite: bcc.kz
---

{% capture text %}
  Редизайн текущего логотипа банка в двух цветовых версиях, золотой и серебряной.
{% endcapture %}
{% include block-text.html title="25 лет" text=text %}

{% include block-image.html image="BCC_25Logo_1.jpg" title="Full width image" %}

{% include block-image.html image="BCC_25Logo_2.jpg" title="Full width image" %}
