---
name: BCC-AN2013
title: Макет годового отчета за 2013 год для банка Центр Кредит
inverse_title: false
tags: [Годовой отчет]
picture: BCC_AN2013_Main.jpg
landscape: false
client: Банк Центр Кредит
clientwebsite: bcc.kz
---

{% capture text %}
  Концепт верстки в формате квадратной книги. В жестком переплете с чернобелыми изображениями и графиками в корпоративных цветах.
{% endcapture %}
{% include block-text.html title="Годовой отчет" text=text %}

{% include block-image.html image="BCC_AN2013_Spread_1.jpg" title="Full width image" %}

{% include block-image.html image="BCC_AN2013_Spread_2.jpg" title="Full width image" %}

{% include block-image.html image="BCC_AN2013_Spread_3.jpg" title="Full width image" %}
