---
name: Kaspi-Rock
title: Рок-караоке для журналистов от Kaspi Bank
inverse_title: true
tags: "Мероприятие, Тантамареска, Пригласительный билет, Логотип, Майки, Сертификат, Оформление CD"
picture: Kaspi_Rock_Main.jpg
landscape: false
client: Kaspi Bank
clientwebsite: kaspibank.kz
---

{% capture text %}
  Для участия в мероприятии, заинтересованным журналистам рассылались приглашения.
{% endcapture %}
{% include block-text.html title="Пригласительный билет" text=text %}

{% include block-image.html image="Kaspi_Rock_Ticket.jpg" title="Full width image" %}


{% capture text %}
  На выбор в двух цветовых решениях. Белая с красным логотипом. Черная с желтым логотипом.
{% endcapture %}
{% include block-leftboxtext.html image="Kaspi_Rock_Tshirt.jpg" title="Брендированные майки" text=text margin="top" %}


{% capture text %}
  Особо отличившиеся были отмечены памятными сертификатами в различных номинациях.
{% endcapture %}
{% include block-rightboxtext.html image="Kaspi_Rock_Sert.jpg" title="Сертификаты" text=text %}


{% capture text %}
  Каждый участник Рок-караоке унес с собой подборку зажигательных треков.
{% endcapture %}
{% include block-text.html title="Обложка и фоормление CD диска" text=text %}

{% include block-image.html image="Kaspi_Rock_CD.jpg" title="Full width image" %}
