---
name: RB-AIA-Logo
title: Логотип для Red Bull Asia Induction Academy
inverse_title: false
tags: "Логотип"
picture: RB_AIA_Logo_Main.jpg
landscape: false
client: Red Bull
clientwebsite: redbull.com/kz/kk
---

{% include block-image.html image="RB_AIA_Logo_1.jpg" title="Full width image" margin="top" %}

{% capture text %}
  Несколько вариантов не принятные клиентом.
{% endcapture %}
{% include block-text.html title="Непринятые варианты" text=text %}

{% include block-image.html image="RB_AIA_Logo_2.jpg" title="Full width image" %}
