---
name: 7su-LC200
title: Презентация Land Cruiser 200
inverse_title: true
tags: [Графический дизайн, Мероприятие]
picture: 7su_LC200_Main.jpg
landscape: true
client: Тойота центр "Жетысу"
clientwebsite: toyota7su.kz

---


{% capture text %}
   Оформлены в стиле основной рекламной компании.
{% endcapture %}
{% include block-text.html title="Пригласительные билеты" text=text %}

{% include block-image.html image="7su_LC200_Inv_Face-Back.jpg" title="Full width image" %}

{% include block-image.html image="7su_LC200_Inv_Spread.jpg" title="Full width image" %}

{% capture text %}
  На каждой колонне по одному моменту из богатой истории Toyota Land Crusiser.
{% endcapture %}
{% include block-text.html title="Информационные колонны" text=text %}

{% include block-image.html image="7su_LC200_Column.jpg" title="Full width image" %}

{% capture text %}
  В простом и интересном тесте можно проверить свои знания о истории модели.
{% endcapture %}
{% include block-leftboxtext.html image="7su_LC200_Stand_Test.jpg" title="Интерактивный дисплей" text=text margin="top" %}

{% capture text %}
  Тем кто правильно ответил на большинство вопросов, вручался не большой брендированный сувенир.
{% endcapture %}
{% include block-rightboxtext.html image="7su_LC200_Stand_result.jpg" title="Призы на память" text=text %}
