---
name: RB_F1
title: Адаптация материалов RedBull F1 Showrun
inverse_title: true
tags: [Графический дизайн, Мероприятие]
picture: RB_F1_Main.jpg
landscape: False
client: Red Bull
clientwebsite: redbull.com/kz/kk

---

{% capture text %}
   Размещался в точках продаж и на на тумбах в городе.
{% endcapture %}
{% include block-text.html title="Постер" text=text %}

{% include block-image.html image="RB_F1_Poster.jpg" title="Full width image" %}

{% capture text %}
   С анонсом и программой мероприятия.
{% endcapture %}
{% include block-text.html title="Флаер" text=text %}

{% include block-image.html image="RB_F1_Flyer.jpg" title="Full width image" %}

{% capture text %}
   Для особых гостей вход на трибуны.
{% endcapture %}
{% include block-text.html title="Билеты" text=text %}

{% include block-image.html image="RB_F1_Ticket.jpg" title="Full width image" %}

{% capture text %}
   Размещался на конструкциях сети кинотеатров "Kino Park".
{% endcapture %}
{% include block-text.html title="Лайтбокс" text=text %}

{% include block-image.html image="RB_F1_LightBox.jpg" title="Full width image" %}

{% capture text %}
   Распространялся промоутерами на заправочных станциях.
{% endcapture %}
{% include block-text.html title="Стикер на авто" text=text %}

{% include block-image.html image="RB_F1_Sticker.jpg" title="Full width image" %}
