---
name: BCC-Booklet
title: Рекламные буклеты для банка Центр Кредит
inverse_title: false
tags: "Буклет"
picture: BCC_Booklet_Main.jpg
landscape: false
client: Банк Центр Кредит
clientwebsite: bcc.kz
---

{% capture text %}
  Программа кредитования в поддержку женского предпринимательства.
{% endcapture %}
{% include block-text.html title="Кредиты для малого бизнеса" text=text %}

{% include block-image.html image="BCC_Booklet_1.jpg" title="Full width image" %}

{% capture text %}
  Кредитные карты для бизнес-клиентов.
{% endcapture %}
{% include block-text.html title="Visa Business Credit Card" text=text %}

{% include block-image.html image="BCC_Booklet_2.jpg" title="Full width image" %}

{% capture text %}
  Программа кредитования для частных предпринимателей.
{% endcapture %}
{% include block-text.html title="Кредиты для малого бизнеса" text=text %}

{% include block-image.html image="BCC_Booklet_3.jpg" title="Full width image" %}
