---
name: FoodMaster-Tender-BioFit
title: Промо материалы для питьевого йогурта "Bio Fit"
inverse_title: false
tags: "Тендер, Постер, Промо точка"
picture: FoodMaster_Tender_BioFit_Main.jpg
landscape: false
client: Food Master
clientwebsite: foodmaster.kz
---

{% capture text %}
  Несколько вариантов акцентируют внимание на разных полезных особеностях продукта.
{% endcapture %}
{% include block-text.html title="Постеры" text=text %}

{% include block-image.html image="FoodMaster_Tender_BioFit_Poster1.jpg" title="Full width image" %}

{% include block-image.html image="FoodMaster_Tender_BioFit_Poster2.jpg" title="Full width image" %}

{% capture text %}
  Постер не вошедший в финальную презентацию для клиента.
{% endcapture %}
{% include block-rightboxtext.html image="FoodMaster_Tender_BioFit_Poster-AD.jpg" title="Вариант арт-директора" text=text margin="top" %}


{% capture text %}
  Вариант оформления промо точки и одежды для промоутеров.
{% endcapture %}
{% include block-leftboxtext.html image="FoodMaster_Tender_BioFit_PromoSpot.jpg" title="Промо точка" text=text  %}
