---
name: Uchet Landing
title: Посадочная страница системы Uchet
inverse_title: true
tags: [Сайт]
picture: U-Chet_Landing_Main.jpg
landscape: true
client: uSTEM
clientwebsite: ustem.kz
---


{% include block-image.html image="U-Chet_Landing_all1.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="U-Chet_Landing_all2.jpg" title="Full width image" margin="top" %}

{% capture text %}
  Примеры использования системы Uchet.
{% endcapture %}
{% include block-text.html title="Иллюстрации" text=text %}

{% include block-image.html image="U-Chet_Landing_P1.jpg" title="Full width image" %}

{% include block-image.html image="U-Chet_Landing_P2.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="U-Chet_Landing_P3.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="U-Chet_Landing_P4.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="U-Chet_Landing_P5.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="U-Chet_Landing_P6.jpg" title="Full width image" margin="top" %}
