---
name: 7su-Installment
title: Билборд для Toyota центр "Жетысу"
inverse_title: true
tags: [Графический дизайн]
picture: 7su_Installment_Main.jpg
landscape: false
client: Тойота центр "Жетысу"
clientwebsite: toyota7su.kz
---

{% capture text %}
  Для акциии на покупку автомобилей Toyota 2014 года. Размещался на конструкции перед салоном.
{% endcapture %}
{% include block-text.html title="Билборд" text=text %}

{% include block-image.html image="7su_Installment_BB.jpg" title="Full width image" %}
