---
name: Centras Booklet
title: Буклет для компании Centras Securities
inverse_title: false
tags: [Графический дизайн]
picture: Centras_Booklet_Main.jpg
landscape: true
client: Centras Securities
clientwebsite: cesec.kz
---

{% capture text %}
  Кей вижуал и верстка рекламного буклета о компании.
{% endcapture %}
{% include block-text.html title="Буклет" text=text %}

{% include block-image.html image="Centras_Booklet_Face.jpg" title="Full width image" %}

{% include block-image.html image="Centras_Booklet_Spread.jpg" title="Full width image" %}

{% include block-image.html image="Centras_Booklet_Back.jpg" title="Full width image" %}
