---
name: VTB Credit Cards
title: Дизайн кредитных карт для ВТБ банка
inverse_title: false
tags: [Кредитные карты]
picture: VTB_Cards_Main.jpg
landscape: true
client: ВТБ банк
clientwebsite: vtb-bank.kz

---

{% capture text %}
   Дизайн карт выполнен по корпоративным стандартам.
   Выбранное направление: Декоративные Казахские предметы быта, оружие.
{% endcapture %}
{% include block-text.html title="" text=text %}

{% capture text %}
  В культурно-бытовом укладе казахского народа камча (плетка) занимала особое место. Камча — произведение искусства, вещь придающая силу, неотъемлемый аксессуар джигита, подарок.
{% endcapture %}
{% include block-leftboxtext.html image="VTB_Cards_Standard.jpg" title="MasterCard Standard" text=text margin="top" %}

{% capture text %}
  У казахов есть поговорка: "Красота жизни заключается в изящном седле и в нарядной одежде". Все драгоценные вещи казахи называли асыл буйым (сокровище, ценный предмет). К ним относится и убранство лошади, в которое входят седло, узда, черпак, подпруга, седельная шлейка, ремень с подвешенными на нем стременами, нагрудные украшения, потфейное убранство, а также потник.
{% endcapture %}
{% include block-rightboxtext.html image="VTB_Cards_Business.jpg" title="MasterCard Business" text=text %}

{% capture text %}
  Распространенным оружием у казахов в средневековье была, так называемая кривая сабля, именуемая в казахском эпосе "алмас кылыш".
  Она изготавливалась из особой стали, рукоятка и эфес убирались драгоценными камнями.
{% endcapture %}
{% include block-leftboxtext.html image="VTB_Cards_Gold.jpg" title="MasterCard Gold" text=text %}

{% capture text %}
  Щиты казахские воины использовали, в основном круглой формы. Они были наиболее удобными для всадника и не стесняли его движений. Щиты делали из кожи и меди. Размеры были относительно небольшими, около 70 сантиметров в диаметре.
{% endcapture %}
{% include block-rightboxtext.html image="VTB_Cards_World.jpg" title="MasterCard World" text=text %}

{% capture text %}
На лицевой стороне любого щита имелось по четыре металлических - медных или стальных - «шишака» высотой до 3-х и толщиной не менее 2-х сантиметров и служили надежной защитой от ударов сабли.
Обученный воин, наклонив щит под правильным углом к удару сабли, имел возможность обезоружить врага. Клинок сабли, наткнувшись на один из шишаков, ломался пополам.
{% endcapture %}
{% include block-leftboxtext.html image="VTB_Cards_WorldElite.jpg" title="MasterCard World Elite" text=text %}
