---
name: HB Internet Banking
title: Интерфейс интернет банкинга для юридических лиц Halyk Bank
inverse_title: false
tags: [Интерфейс]
picture: HalykBank_InternetBanking_Main.jpg
landscape: false
client: Halyk Bank
clientwebsite: halykbank.kz
---

{% capture text %}
  Легкий в "flat" стиле интерфейс выполнен в основной цветовой гамме банка. Для облегчения повседневной работы реализованы виджеты, диаграммы, графики.
{% endcapture %}
{% include block-text.html title="Интернет банкинг" text=text %}

{% include block-image.html image="HalykBank_InternetBanking_1.jpg" title="Full width image" %}

{% include block-image.html image="HalykBank_InternetBanking_2.jpg" title="Full width image" %}

{% include block-image.html image="HalykBank_InternetBanking_3.jpg" title="Full width image" %}

{% include block-image.html image="HalykBank_InternetBanking_4.jpg" title="Full width image" %}

{% include block-image.html image="HalykBank_InternetBanking_5.jpg" title="Full width image" %}
