---
name: 7su-15-Years
title:  15 летие Toyota центр "Жетысу"
inverse_title: false
tags: [Графический дизайн, Сайт, Мероприятие]
picture: 7su_15-Years_Main.jpg
landscape: false
client: Тойота центр "Жетысу"
clientwebsite: toyota7su.kz
---

{% capture text %}
  В честь празднования 15-летия Toyota центр "Жетысу" весь месяц проходил фестиваль японской культуры. Для информаирования клиентов была разработана промо страница.
{% endcapture %}
{% include block-text.html title="Посадочная страница" text=text %}

{% include block-image.html image="7su_15-Years_LP1.jpg" title="Full width image" %}

{% include block-image.html image="7su_15-Years_LP2.jpg" title="Full width image" %}

{% include block-image.html image="7su_15-Years_LP3.jpg" title="Full width image" %}

{% capture text %}
  Помимо ознакомления с ценностями компании со страницы можно распечатать программу фестиваля.
{% endcapture %}
{% include block-rightboxtext.html image="7su_15-Years_Inv.jpg" title="Программа фестиваля" text=text %}

{% capture text %}
  На входе в салон гостей встречал информационный Rollup с подробной программой фестиваля.
{% endcapture %}
{% include block-leftboxtext.html image="7su_15-Years_Rollup.jpg" title="Rollup" text=text margin="top" %}
