---
name: 7su-Fortuner
title: Презентация обновленных моделей Hilux и Fortuner TRD
inverse_title: true
tags: [Презентация, Билборд, Фото стенд, Rollup, Landing page]
picture: 7su_Fortuner_Main.jpg
landscape: true
client: Тойота центр "Жетысу"
clientwebsite: toyota7su.kz

---


{% capture text %}
   Разработана промо страница с описанием механики активностей и особенностей обновленных моделей Totoya Hilux и Toyota Fortuner TRD. Так же можно забронировать удонбное время посещения промо стенда.
{% endcapture %}
{% include block-text.html title="Landing page" text=text %}

{% include block-image.html image="7su_Fortuner_LP1.jpg" title="Full width image" %}

{% include block-image.html image="7su_Fortuner_LP2.jpg" title="Full width image" %}

{% include block-image.html image="7su_Fortuner_LP3.jpg" title="Full width image" %}

{% include block-image.html image="7su_Fortuner_LP4.jpg" title="Full width image" %}

{% include block-image.html image="7su_Fortuner_LP5.jpg" title="Full width image" %}

{% capture text %}
  Приглашает посетителей салона ознакомится с обновленными моделями. И принять участие в активностях на стендах с автомобилями.
{% endcapture %}
{% include block-text.html title="Стикер на входные двери" text=text %}

{% include block-image.html image="7su_Fortuner_Doors.jpg" title="Full width image" %}

{% capture text %}
  Детально раскрывает механику активности на выстовочном стенде.
{% endcapture %}
{% include block-leftboxtext.html image="7su_Fortuner_Roll_F.jpg" title="Rollup Fortuner TRD" text=text margin="top" %}

{% capture text %}
  Детально раскрывает механику активности на выстовочном стенде.
{% endcapture %}
{% include block-rightboxtext.html image="7su_Fortuner_Roll_H.jpg" title="Rollup Hilux" text=text %}

{% capture text %}
  Любителям ярких впечатлений, следуя инструкции на стикере, предлогалось сфотографироваться на стенде с эффектом искаженной перспективы. Сделать пост в Instagram, набрать наибольшее колличество лайков и выиграть брендированный сувенир.
{% endcapture %}
{% include block-text.html title="Стенд Toyota Fortuner TRD" text=text margin="top" %}

{% include block-image.html image="7su_Fortuner_F_Stand.jpg" title="Full width image" %}

{% capture text %}
  Для тех кто ценит активный образ жизни – сыграть свой любимый рок-трек в Guitar Hero и в зависимости от набранных баллов выиграть полезные брендированные сувениры.
{% endcapture %}
{% include block-text.html title="Стенд Toyota Hilux" text=text margin="top" %}

{% include block-image.html image="7su_Fortuner_H_Stand.jpg" title="Full width image" %}

{% comment %}

                            @2x
Landscape:  1240 × 830   2480 x 1660
Portrait:   616 x 830    1232 x 1660
Square:     824 x 830    1648 x 1660

{% capture text %}
  A series of essential stationery format to showcase your branding projects.
  It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.
{% endcapture %}
{% include block-leftboxtext.html image="inner-1.jpg" title="Left Box Text" text=text margin="top" %}

{% capture text %}
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
{% endcapture %}
{% include block-text.html title="Full Wide Text" text=text %}

{% include block-image.html image="project-1.jpg" title="Full width image" %}

{% capture text %}
  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
  It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.
{% endcapture %}
{% include block-rightboxtext.html image="inner-3.jpg" title="Right Box Text" text=text %}


{% endcomment %}
