---
name: Bazis-Tender-BB
title: Рекламные билборды в честь 25 летия компании "Базис"
inverse_title: true
tags: [Тендер, Билборд]
picture: Bazis_Tender_BB_Main.jpg
landscape: false
client: Базис
clientwebsite: bazis.kz
---

{% capture text %}
  Идея показать как будет выглядеть город будущего с уже реализованными проектами компании, в нескольких возможных вариантах: технологии, экологичность, бизнес.
{% endcapture %}
{% include block-text.html title="Серия билбордов" text=text %}

{% include block-image.html image="Bazis_Tender_BB_1.jpg" title="Full width image" %}

{% include block-image.html image="Bazis_Tender_BB_2.jpg" title="Full width image" %}

{% include block-image.html image="Bazis_Tender_BB_3.jpg" title="Full width image" %}
