---
name: Mega-Tender-BB
title: Билборды для торгового центра "Мега"
inverse_title: true
tags: "Тендер, Биллборд"
picture: Mega_Tender_BB_Main.jpg
landscape: false
client: Мега
clientwebsite: almaty.megacenter.kz
---

{% capture text %}
  Две версии визуализации для рекламных билбордов Мега центр для размещения в течении года.
{% endcapture %}
{% include block-text.html title="Билборды" text=text %}

{% include block-image.html image="Mega_Tender_BB_1_1.jpg" title="Full width image" %}

{% include block-image.html image="Mega_Tender_BB_1_2.jpg" title="Full width image" %}

{% include block-image.html image="Mega_Tender_BB_1_3.jpg" title="Full width image" %}

{% include block-image.html image="Mega_Tender_BB_2_1.jpg" title="Full width image" %}

{% include block-image.html image="Mega_Tender_BB_2_2.jpg" title="Full width image" %}

{% include block-image.html image="Mega_Tender_BB_2_3.jpg" title="Full width image" %}
