---
name: BCC Press A4
title: Серия рекламных модулей для банка Центр Кредит
inverse_title: true
tags: "Модули в прессу"
picture: BCC_PressA4_Main.jpg
landscape: false
client: Банк Центр Кредит
clientwebsite: bcc.kz
---

{% capture text %}
  Совместная с Visa акция к чемпионату мира по футболу в Бразилии.
{% endcapture %}
{% include block-text.html title="Будь частью мирового чемпионата!" text=text %}

{% include block-image.html image="BCC_PressA4_Brazil.jpg" title="Full width image" %}

{% capture text %}
  Потребительские кредиты в формате 3D — полный объем возможностей и выгода в трех измерениях.
{% endcapture %}
{% include block-text.html title="Выгода в трех измерениях" text=text %}

{% include block-image.html image="BCC_PressA4_3D.jpg" title="Full width image" %}

{% capture text %}
  Бесплатное открытие счета, подключение к интернет банкингу версии "Light" и "Mobile".
{% endcapture %}
{% include block-text.html title="Предложение для бизнес-клиентов" text=text %}

{% include block-image.html image="BCC_PressA4_0.jpg" title="Full width image" %}

{% capture text %}
  Акция по платежным картам в "День защиты детей".
{% endcapture %}
{% include block-text.html title="Подари детям праздник!" text=text %}

{% include block-image.html image="BCC_PressA4_Kids.jpg" title="Full width image" %}
