---
name: 7su-All-Inclusive
title:  "Акционный билборд для Toyota центр "Жетысу""
inverse_title: true
tags: "Биллборд, 7su"
picture: 7su_All_Inclusive_Main.jpg
landscape: false
client: Тойота центр "Жетысу"
clientwebsite: toyota7su.kz
---

{% capture text %}
  Для акции на бесплатное сервисное обслуживание автомобилей Toyota. Размещался на конструкции перед салоном.
{% endcapture %}
{% include block-text.html title="Билборд" text=text %}

{% include block-image.html image="7su_All_Inclusive_BB.jpg" title="Full width image" %}
