---
name: Toastie Logo
title: Логотип и упаковка для Toastie
inverse_title: false
tags: [Графический дизайн, Логотип]
picture: Toastie_Logo_Main.jpg
landscape: False
client: Toastie
clientwebsite: instagram.com/toastie.kz/

---

{% capture text %}
  Для сэндвичей, тостов и роллов.
{% endcapture %}
{% include block-text.html title="Упаковка" text=text %}

{% include block-image.html image="Toastie_Logo_Pack1.jpg" title="Full width image" %}

{% include block-image.html image="Toastie_Logo_Pack2.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Toastie_Logo_Pack3.jpg" title="Full width image" margin="top" %}
