---
name: YOU
title: Логотип для продуктов яблоневого сада
inverse_title: true
tags: [Логотип]
picture: YOU_Logo_main.jpg
landscape: true
client: YOUжный вкус

---

{% include block-image.html image="YOU_Logo_4.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="YOU_Logo_1.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="YOU_Logo_3.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="YOU_Logo_2.jpg" title="Full width image" margin="top" %}
