---
name: Oh! Logo
title: Логотип, этикетки и макеты для презентации бальзама для губ Oh!
inverse_title: true
tags: [Графический дизайн, Логотип]
picture: Oh!_Logo_main.jpg
landscape: false
client: Kristy Schoenberg
---

{% include block-image.html image="Oh!_Logo_1.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Oh!_Logo_2.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Oh!_Logo_3.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Oh!_Logo_4.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Oh!_Logo_5.jpg" title="Full width image" margin="top" %}
