---
name: first-project
title:  "Супер-пупер проект"
date:   2016-01-20 22:57:27 +0600
tags: дизайн промо
picture: project-1.jpg
landscape: true
---

{% capture text %}
  A series of essential stationery format to showcase your branding projects.
  It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.
{% endcapture %}
{% include block-text-image.html image="inner-1.jpg" title="Left Box Text" text=text margin="top" %}

{% capture text %}
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
{% endcapture %}
{% include block-largeimage-text.html image="inner-2.jpg" title="Right Box Small Text" text=text %}

{% capture text %}
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
{% endcapture %}
{% include block-text.html title="Full Wide Text" text=text %}

{% include block-image.html image="project-1.jpg" title="Full width image" %}

{% capture text %}
  Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
  It includes a A6 flyer, A5 folder, A4 horizontal paper and a business card mockup. You can easily put your own graphics and create a new layout according to your needs.
{% endcapture %}
{% include block-image-text.html image="inner-3.jpg" title="Right Box Text" text=text %}
<div class="ae-grid--alt test">
  <div class="ae-grid__item--alt item-sm--auto item-sm--offset-1 item-lg--offset-0 item-sm--end item-sm--bottom">
    <div class="ae-grid ae-grid--alt8 au-xs-ta-center au-sm-ta-left">
      <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">1.</span>
        <p class="au-mt-1">Suspendisse ultricies tellus eget nisl molestie, quis sagittis mauris placerat.</p><span class="ae-u-boldest">2.</span>
        <p class="au-mt-1">Pellentesque et nulla pulvinar, bibendum quam ac, cursus turpis.</p>
      </div>
      <div class="ae-grid__item--alt8 item-lg-6"><span class="ae-u-boldest">3.</span>
        <p class="au-mt-1">Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">4.</span>
        <p class="au-mt-1">Morbi hendrerit laoreet lectus a fringilla.</p>
      </div>
    </div>
  </div>
  <div class="ae-grid__item--alt item-sm--auto item-lg-3 item-lg--offset-1 item-lg--end"><img src="{{ '/img/posts/inner-4.jpg' | prepend: site.baseurl }}" alt="Urku Portfolio"></div>
</div>
