---
name: Krisfix Logo
title: Логотип и визитные карточки для Christopher Neale
inverse_title: true
tags: [Графический дизайн, Логотип]
picture: Krisfix_Logo_Main.jpg
landscape: false
client: Christopher Neale
clientwebsite: www.krisfix.com.au
---

{% include block-image.html image="Krisfix_Logo_2.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Krisfix_Logo_3.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="Krisfix_Logo_1.jpg" title="Full width image" margin="top" %}
