---
name: BB
title: Логотип барбершопа «Черная борода»
inverse_title: true
tags: [Логотип]
picture: BB_Logo_main.jpg
landscape: true
client: Антон Волков
clientwebsite: chernayaboroda.kz
---

{% include block-image.html image="BB_Logo_1.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="BB_Logo_3.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="BB_Logo_4.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="BB_Logo_5.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="BB_Logo_6.jpg" title="Full width image" margin="top" %}

{% include block-image.html image="BB_Logo_2.jpg" title="Full width image" margin="top" %}
