---
layout: default
---

<section class="ae-container-fluid ae-container-fluid--full">
  <header class="rk-portfolio-cover item-inside-{% if page.landscape %}landscape{% else %}portrait{% endif %}"
    style="background-image: url('{{ page.picture | replace: '.jpg', '@2x.jpg' | replace: '.png', '@2x.png' | prepend: '/img/posts/' | prepend: site.baseurl }}');">
    <div class="item-inside__meta{% if page.inverse_title %} item-inside__meta--white{% endif %}{% if page.contrast_title %} item-inside__meta--contrast{% endif %}">
      <h1 class="ae-u-bolder rk-portfolio-title ">{{ page.title }}</h1>
      <p class="ae-theta rk-portfolio-category ">{{ page.tags | join: ' ' }}</p>
    </div>
  </header>
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info">
      {% if page.longtitle %}
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title">
              {{ page.longtitle }}
          </h2>
        </div>
      {% endif %}
      <div class="ae-grid__item {% if page.longtitle %}item-lg-4 au-lg-ta-right{% else %}item-lg-12 au-lg-ta-left{% endif %} au-xs-ta-center rk-portfolio-details">
        {% if page.client %}
          <p class="rk-portfolio-inner-client "><span class="ae-lambda">Клиент: </span><span class="ae-u-bolder">{{ page.client }}</span></p>
        {% endif %}
        {% if page.clientwebsite %}
          <p class="au-underline rk-portfolio-inner-website"><a href="http://{{ page.clientwebsite}}" class="ae-kappa">{{ page.clientwebsite }}</a></p>
        {% endif %}
        <p class="ae-kappa ae-u-bold rk-portfolio-inner-date">{{ page.date | date: '%d.%m.%Y' }}</p>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    {{ content }}
  </div>
  <div class="ae-container-fluid au-pt-4 au-pb-4">
    <div class="group-buttons">
      {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}" class="arrow-button arrow-button--reverse arrow-button--center"> Предыдущий проект
          <svg>
            <use xlink:href="{{ "/img/symbols.svg#arrow" | prepend: site.baseurl }}" />
          </svg>
        </a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseurl }}" class="arrow-button arrow-button--center"> Следующий проект
          <svg>
            <use xlink:href="{{ "/img/symbols.svg#arrow" | prepend: site.baseurl }}" />
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
</section>
